body {
    transition: background-color 2s ease;
}
li{
    list-style: none;
}
.tekst{
    text-align: center;
}
.tlo-img{
    background-image: url(path-to-file/img.jpg);
    background-repeat:no-repeat;
    background-position: center center;
}
.tlo-txt{
    background-color: 
}
